  # Service orchestration (App + Postgres)
  version: "3.9"

  services:
    db:
      image: postgres:16.11
      container_name: medical-postgres
      restart: always
      env_file:
        - ../.env
      volumes:
        - postgres_data:/var/lib/postgresql/data
      ports:
        - "5432:5432"

    api:
      build:
        context: ..
        dockerfile: Dockerfile
      container_name: medical-api
      depends_on:
        - db
      env_file:
        - ../.env
      ports:
        - "5000:5000"
      command: ["python", "run.py"]

  volumes:
    postgres_data:
